apache-airflow==2.10.4
apache-airflow-providers-amazon==9.9.0
apache-airflow-providers-common-compat==1.7.1
apache-airflow-providers-common-io==1.4.2
apache-airflow-providers-common-sql==1.27.2
apache-airflow-providers-fab==1.5.1
apache-airflow-providers-ftp==3.11.1
apache-airflow-providers-http==4.13.1
apache-airflow-providers-imap==3.7.0
apache-airflow-providers-opsgenie==5.7.0
apache-airflow-providers-postgres==6.2.1
apache-airflow-providers-slack==8.9.2
apache-airflow-providers-smtp==1.8.1
apache-airflow-providers-sqlite==3.9.0
apache-airflow-providers-ssh==3.14.0
pytest==8.3.3
pytest-cov==5.0.0
pytest-mock==3.14.0